<div class="grid grid-cols-2 gap-x-4 gap-y-8 p-4">
  <div class="flex items-center p-4 gap-4">
    <h1><%= @player.name %> — <%= @game.name %></h1>
    <strong><%= @player.ratings.find_by_game_id(@game).value %></strong>
  </div>

  <section class="flex justify-end items-start">
    <%= link_to 'Return to game', game_path(@game), class: "btn" %>
  </section>

  <div>
    <h2 class="mb-2">Recent Games</h2>
    <%= render "shared/results", results: @player.results.for_game(@game).limit(15).order('created_at desc'), show_game: false %>
  </div>

  <div class="row">
      <h2 class="mb-2">Statistics</h2>
      <ul class="grid grid-cols-4 gap-4">
        <% forwin = @player.total_wins_on_for(@game) %>
        <% againstwin = @player.total_wins_on_against(@game) %>
        <% forpref = (forwin == 0 and @player.total_wins(@game) == 0) && 0.5 || forwin.to_f / @player.total_wins(@game) %>
        <% winside = (forpref == 0.5) && 'Evens' || (forpref >0.5 && "#{(forpref * 100).round(2)}% For" || "#{((1 - forpref) * 100).round(2)}% Against") %>
        <%= render 'stat', name: "Win Distribution", value: winside, description: "#{forwin} For & #{againstwin} Against" %>
        <% all_streaks = @player.get_streaks(@game) %>
        <%= render 'stat', name: "Current Streak", value: all_streaks[:current].count, description: all_streaks[:currentType] %>
        <% win = all_streaks[:win] %>
        <%= render 'stat', name: "Longest Win", value: win.count, description: win.fromDate != 0 && "(#{win.fromDate.strftime('%Y-%m-%d %H:%M')} to #{win.toDate.strftime('%Y-%m-%d %H:%M')})" || '' %>
        <% unbeaten = all_streaks[:unbeaten] %>
        <%= render 'stat', name: "Longest Unbeaten", value: unbeaten.count, description: unbeaten.fromDate != 0 && "(#{unbeaten.fromDate.strftime('%Y-%m-%d %H:%M')} to #{unbeaten.toDate.strftime('%Y-%m-%d %H:%M')})" || '' %>
        <% lose = all_streaks[:lose] %>
        <%= render 'stat', name: "Longest Lose", value: lose.count, description: lose.fromDate != 0 && "(#{lose.fromDate.strftime('%Y-%m-%d %H:%M')} to #{lose.toDate.strftime('%Y-%m-%d %H:%M')})" || '' %>
      </ul>
  </div>


  <div>
    <h2 class="mb-2">Head-to-Head Records</h2>
    <table class="w-full">
      <thead>
        <tr>
          <th class="text-left">Player</th>
          <th class="text-right">Rating</th>
          <th class="text-right">Wins</th>
          <% if @game.allow_ties %>
            <th class="text-right">Draws</th>
          <% end %>
          <th class="text-right">Losses</th>
        </tr>
      </thead>

      <tbody>
        <% @game.all_ratings.each do |rating| %>
          <% opponent = rating.player %>
          <% next if opponent == @player %>
          <% wins = @player.wins(@game, opponent) %>
          <% losses = @player.losses(@game, opponent) %>
          <tr class="border-b border-neutral-400 <%= "text-neutral-400" if wins == 0 and losses == 0 %>" >
            <td class="p-2">
              <%= link_to opponent, class: "flex items-center gap-2" do %>
                <%= image_tag(gravatar_url(opponent, size: 24)) %>
                <%= opponent.name %>
              <% end %>
            </td>
            <td class="text-right"><%= rating.value %></td>
            <td class="text-right"><%= wins %></td>
            <% if @game.allow_ties %>
              <td class="text-right"><%= @player.ties(@game, opponent) %></td>
            <% end %>
            <td class="text-right"><%= losses %></td>
          </tr>

        <% end %>
      </tbody>

    </table>
  </div>

  <div class="row">
    <h2>Progress</h2>
    <%= line_chart @chart_data, min: nil, max: nil, xtitle: 'Matches', ytitle: @game.rating_type.capitalize, curve: false, discrete: true %>
  </div>
</div>
