<div
  class="p-4"
  data-controller="game"
>
  <%= form_with model: game, class: "grid grid-cols-[1fr_2fr] gap-4" do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <span>Rating type</span>
    <input type="text" disabled readonly value="<%= game.rater.description %>" />

    <% if game.rating_type != 'elo' %>
      <div class="col-span-2 grid grid-cols-subgrid" data-game-target="maxPlayersGroup">
        <%= f.label :max_number_of_players_per_team, 'Maximum number of players per team' %>
        <div class="flex flex-col">
          <%= f.number_field :max_number_of_players_per_team, class: "input-mini", data: { 'game-target': 'maxPlayers' } %>
          <small class="text-sm text-neutral-400">Set to blank for no restriction</small>
        </div>
      </div>
      <div class="col-span-2 grid grid-cols-subgrid" data-game-target="maxTeamsGroup">
        <%= f.label :max_number_of_teams, 'Maximum number of teams', class: "control-label" %>
        <div class="flex flex-col">
          <%= f.number_field :max_number_of_teams, class: "input-mini" %>
          <small class="text-sm text-neutral-400">Set to blank for no restriction</small>
        </div>
      </div>
    <% end %>

    <%= f.label :allow_ties, class: "col-start-2" do %>
      <%= f.check_box :allow_ties %>
      Allow ties
    <% end %>

    <div class="col-start-2">
      <%= f.button class: "btn btn-primary" %>
      <%= button_to "Cancel", game_path(game), class: "btn" %>
    </div>
  <% end %>
</div>
