<div class="p-4">
  <%= form_with model: player, class: "grid grid-cols-[1fr_2fr] gap-4 items-center" do |f| %>

    <%= f.label :name %>
    <div class="flex flex-col">
      <%= f.text_field :name, class: "w-full" %>
      <%= errors_for player, :name %>
    </div>

    <%= f.label :email %>
    <div class="flex flex-col items-stretch">
      <%= f.text_field :email, class: "w-full" %>
      <%= errors_for player, :email %>
    </div>

    <div class="col-start-2">
      <%= f.button class: "btn btn-primary" %>
      <%= link_to "Cancel", players_path, class: "btn" %>
    </div>

    <small class="description attribution">
      Avatar provided by <a href="http://gravatar.com/">Gravatar</a>, a global avatar service.
    </small>
  <% end %>
</div>
