<!DOCTYPE html>
<html>
  <head>
    <title><%= brand_title %> Games</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div id='container'>
      <header class="bg-neutral-900 p-2 flex justify-between">
        <%= link_to root_path, class: "p-2" do %>
          <%= brand_title %>
        <% end %>
        <div class="flex items-center gap-12">
          <% all_games.each do |game| %>
            <%= link_to game.name, game_path(game) %>
          <% end %>
        </div>
        <%= render "partials/add_result_button" %>
      </header>
      <div id='main'>
        <%= yield %>
      </div>
      <div class="text-center text-neutral-400 text-sm p-2">Powered by Elovation</div>
    </div>
  </body>
</html>
